# =========================
# Spyder / IDE
# =========================
.spyproject/

# =========================
# Secrets / config
# =========================
config.cfg
*.cfg

# =========================
# Office / temporary files
# =========================
~$*.docx
*.docx

# =========================
# OS / Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
